.bgimage{
  justify-content: center;
  /* background-image:url(./Components/christmas-market-7664171.jpg); */
  height:100vh;
  background-repeat: no-repeat;
  object-fit: contain;
}
*{
  background-color: rgb(214, 179, 179);
}
.label{
  display: block;
  font-weight: bold;
}

.brandName{
  color:black;
}
.authentication button{

  background-color: grey;
  justify-content: space-evenly;
  padding: 3px;
  border-radius: 2px;
  
}
.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

#hero{
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
input{
  border-radius: 5px;
  border: 3px solid black;
}

#btn{
  height: 40px;
  width:100px;
  background-color:white;
}
#btn:hover{
  background-color:grey;
}

.container{
  background-color: rgb(205, 172, 172);
}



